<?xml version="1.0"   encoding="utf-8"  standalone="no"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" throwExceptions="true">
  <extensions>
    <add assembly="NLog.Extended" />
  </extensions>
  <targets>
    <target name="file" 
            xsi:type="File"
            FileName="${basedir}/logs/${logger}.log" 
            archiveFileName="${basedir}/logs/${logger}${shortdate}.log" 
            archiveAboveSize="10240"
            archiveNumbering="Sequence"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="utf-8">
      <layout   xsi:type="CsvLayout"   withHeader="true"   >
        <column name="time" layout="${longdate}" />
        <column name="level" layout="${level:upperCase=true}"/>
        <column name="message" layout="${message}" />
        <column name="callsite" layout="${callsite:includeSourcePath=true}" />
        <column name="stacktrace" layout="${stacktrace:topFrames=10}" />
        <column name="exception" layout="${exception:format=ToString}"/>
        <column name="context" layout="${event-context:item=Amount}"/>
      </layout>
    </target>
    <target name="debugger" xsi:type="Debugger" layout="NLog: ${date:format=HH\:mm\:ss} | ${level:uppercase=true:padding=-5} | ${message}" />
  <target name="cw" xsi:type="ColoredConsole"  />
    <target xsi:type="Database"
           name="database"
  connectionStringName="MainBoundedContext"
           commandText="INSERT INTO [dbo].[LogEntity] ([CallSite], [Date], [Exception], [Level], [Logger], [MachineName], [Message], [StackTrace], [Thread], [Username]) VALUES (@CallSite, @Date, @Exception, @Level, @Logger, @MachineName, @Message, @StackTrace, @Thread, @Username);">
    
      <parameter name="@CallSite" layout="${callsite:filename=true}" />
      <parameter name="@Date" layout="${longdate}" />
      <parameter name="@Exception" layout="${exception}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@MachineName" layout="${machinename}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@StackTrace" layout="${stacktrace}" />
      <parameter name="@Thread" layout="${threadid}" />
      <parameter name="@Username" layout="${windows-identity:domain=true}" />
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Error" writeTo="database"  />
    <logger name="*"  minlevel="Warn"  writeTo="file" />
   <logger name="*" writeTo="cw" />
    <logger name="*" minlevel="Debug" writeTo="debugger" />
  </rules>
</nlog>